<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Update-me</title>
</head>

<body>
    <h1>OI</h1>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <form method="post" nome="nome" id="form" action="/edit/{{db.id_usuario}}/">
            {% csrf_token %}

            <div class="form-group mt-4">
                nome:{{form.nome}}
                idade:{{form.idade}}    
            </div>
        <input type="submit" class="btn btn-sucess" value="Salvar">
        </form>
    </div>

</body>

</html>